// app global css in SCSS form
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@font-face {
  font-family: Poppins-Semibold;
  src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-Light;
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins-Regular.ttf);
}

.poppins-semibold {
  font-family: Poppins-Semibold;
}

.poppins-bold {
  font-family: Poppins-Bold;
}

.poppins-light {
  font-family: Poppins-Light;
}

.poppins-medium {
  font-family: Poppins-Medium;
}

.poppins-regular {
  font-family: Poppins-Regular;
}

.title-section {
  margin: 70px;
  font-size: 32px;
  text-align: center;
}

q-card-section {
  text-align: center;
}

.landing-title {
  color: white;
  font-size: 68px;
}

.card-icon {
  align-items: center;
}
